Repository elcattivo66/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

feat(container): update image prometheus-node-exporter to v4.23.0
  kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart victoria-metrics-k8s-stack to 0.17.6
  kubernetes/apps/monitoring/victoriametrics/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v50.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Move VM to archive
  kubernetes/apps/monitoring/victoriametrics/app/helmrelease.yaml
  kubernetes/apps/monitoring/victoriametrics/app/kustomization.yaml
  kubernetes/apps/monitoring/victoriametrics/app/secret.yaml
  kubernetes/apps/monitoring/victoriametrics/ks.yaml
Labels: area/kubernetes

Update values for next rebuild
  provision/kubernetes/servers/inventory/host_vars/brix.sops.yml
  provision/kubernetes/servers/inventory/hosts.yaml
  provision/kubernetes/servers/playbooks/templates/custom-cilium-helmchart.yaml.j2
  provision/kubernetes/servers/playbooks/templates/custom-coredns-helmchart.yaml.j2
  provision/kubernetes/servers/playbooks/templates/kube-vip-static-pod.yaml.j2
Labels: area/ansible

feat(container): update image renovate/renovate to v36.79.1
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.0.2
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

Prepare for rebuild #2
  kubernetes/apps/databases/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/lldap/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/apps/default/openhab/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/traefik/app/helmrelease.yaml
  provision/kubernetes/servers/inventory/group_vars/all/main.yaml
  provision/kubernetes/servers/inventory/host_vars/brix.sops.yml
  provision/kubernetes/servers/inventory/hosts.yaml
  provision/kubernetes/servers/playbooks/cluster-nuke.yaml
  provision/kubernetes/servers/playbooks/templates/custom-cilium-helmchart.yaml.j2
Labels: area/ansible, area/kubernetes

dont deploy cnpg firest
  kubernetes/apps/databases/kustomization.yaml
Labels: area/kubernetes

Activate cnpg and restore from previous cluster
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/databases/kustomization.yaml
Labels: area/kubernetes

Fix annotation for cillium
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

Remove dependson metallb
  kubernetes/apps/networking/k8s-gateway/ks.yaml
Labels: area/kubernetes

Update cilium annotations
  kubernetes/apps/databases/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/lldap/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/apps/default/openhab/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/networking/traefik/app/helmrelease.yaml
Labels: area/kubernetes

Enable some apps
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Enable most apps
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Update version
  kubernetes/apps/networking/cloudflare-ddns/app/helmrelease.yaml
Labels: area/kubernetes

Disable lidarr
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Fix supplementalgroup
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

set smtp-host in secret
  kubernetes/apps/default/nextcloud/app/secret.sops.yaml
Labels: area/kubernetes

Disable host network
  kubernetes/apps/default/openhab/app/helmrelease.yaml
Labels: area/kubernetes

Enable plex
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat(container): update image quay.io/minio/minio to release.2023-09-04t19-57-37z
  provision/storage/apps/app_minio.tf
Labels: none

feat(container): update image renovate/renovate to v36.81.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

Try to update externalTrafficPolicy to cluster
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/networking/traefik/app/helmrelease.yaml
Labels: area/kubernetes

Set externalTrafficPolicy: Cluster
  kubernetes/apps/databases/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/lldap/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/apps/default/openhab/app/helmrelease.yaml
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image syncthing/syncthing to v1.24.0
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

Enable etcd
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Try again with oidc
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
Labels: area/kubernetes

Try "admin"
  kubernetes/apps/flux-system/weave-gitops/app/rbac.yaml
Labels: area/kubernetes

fix(helm): update chart metallb to 0.13.11
  kubernetes/apps/networking/metallb/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 4.2.1
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.82.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/paperless-ngx/tika to v2.9.0
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.77.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.14.0
  provision/kubernetes/cloudflare/.terraform.lock.hcl
  provision/kubernetes/cloudflare/main.tf
Labels: none

fix(helm): update chart reloader to 1.0.40
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/immich-app/immich-server to v1.77.0
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.83.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.87.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.87.1
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/kubernetes/servers/**/*"
  - "provision/storage/servers/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
