Repository elcattivo66/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/kubernetes/servers/**/*"
  - "provision/storage/servers/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

fix(container): update image renovate/renovate to v37.1.5
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-12
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update image prometheus-node-exporter to v4.23.2
  kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v37.1.6
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.0.3.8107
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v37.2.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v37.3.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.80.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v37.3.2
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/recyclarr/recyclarr to v6
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/calibre-web to b1369cc
  kubernetes/apps/default/calibre-web/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v37.3.3
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.33.1
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/pdreker/fritz_exporter to v2.3.0
  kubernetes/apps/default/fritzbox-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v37.4.1
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image syncthing/syncthing to v1.25.0
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v37.5.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.81.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-13
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v37.5.2
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.60.2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.16.0
  provision/kubernetes/cloudflare/.terraform.lock.hcl
  provision/kubernetes/cloudflare/main.tf
Labels: none

fix(container): update image renovate/renovate to v37.5.3
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v37.5.4
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.1.2
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.42
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update immich group to v1.81.1
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 4.3.2
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.0
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v37.6.1
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image kube-state-metrics to v5.14.0
  kubernetes/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v37.6.2
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(helm): update chart gitea to 9.5.0
  provision/storage/apps/app_gitea.tf
Labels: none

chore(container): update image ghcr.io/bjw-s/calibre-web to d6adbb1
  kubernetes/apps/default/calibre-web/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v37.6.3
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image influxdb to v5.9.5
  kubernetes/apps/databases/influxdb/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.1
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Revert back to 15
  provision/storage/apps/app_postgres.tf
Labels: none

Update values
  provision/storage/apps/.terraform.lock.hcl
  provision/storage/servers/playbooks/cluster-reboot.yml
Labels: area/ansible
