Repository elcattivo66/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

feat(terraform): update terraform cloudflare to 4.18.0
  provision/kubernetes/cloudflare/.terraform.lock.hcl
  provision/kubernetes/cloudflare/main.tf
Labels: none

feat(container): update image quay.io/minio/minio to release.2023-11-01t01-57-10z
  provision/storage/apps/app_minio.tf
Labels: none

chore(container): update image ghcr.io/bjw-s/calibre-web to 63d8995
  kubernetes/apps/default/calibre-web/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.84.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kyverno to v3.0.6
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.33.2
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

Update labels
  .github/labels.yaml
Labels: area/github

Add k8s-ycl
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/system-controllers/k8s-ycl/app/helmrelease.yaml
  kubernetes/apps/system-controllers/k8s-ycl/app/kustomization.yaml
  kubernetes/apps/system-controllers/k8s-ycl/ks.yaml
  kubernetes/apps/system-controllers/kustomization.yaml
  kubernetes/apps/system-controllers/namespace.yaml
Labels: area/kubernetes

Add k8tz
  kubernetes/apps/system-controllers/k8tz/app/helmrelease.yaml
  kubernetes/apps/system-controllers/k8tz/app/kustomization.yaml
  kubernetes/apps/system-controllers/k8tz/app/pki.yaml
  kubernetes/apps/system-controllers/k8tz/ks.yaml
  kubernetes/apps/system-controllers/kustomization.yaml
  kubernetes/apps/system-controllers/namespace.yaml
Labels: area/kubernetes

Add k8tz helmrepo
  kubernetes/flux/repositories/helm/k8tz.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Archive kyverno
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/kyverno/kyverno/policies/inject-tz.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/remove-cpu-limit.yaml
  kubernetes/apps/kyverno/kyverno/policies/set-internal-ingress-annotations.yaml
  kubernetes/apps/kyverno/kyverno/policies/snapshot-cronjob.yaml
  kubernetes/apps/kyverno/namespace.yaml
Labels: area/kubernetes

Schedule plex on newer nodes only
  kubernetes/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-16
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

feat(helm): update chart coredns to 1.28.0
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  provision/kubernetes/servers/playbooks/templates/custom-coredns-helmchart.yaml.j2
Labels: area/ansible, area/kubernetes

fix(helm): update chart coredns to 1.28.1
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  provision/kubernetes/servers/playbooks/templates/custom-coredns-helmchart.yaml.j2
Labels: area/ansible, area/kubernetes

Update image digest
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

Remove kyverno dependency
  kubernetes/apps/databases/cloudnative-pg/ks.yaml
Labels: area/kubernetes

Up version
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Update new reponame
  .github/renovate.json5
  README.md
  kubernetes/flux/config/cluster.yaml
Labels: area/github, area/kubernetes

Update bootstrap path
  README.md
Labels: none

Update flux values
  kubernetes/bootstrap/github-deploy-key.sops.yaml
  kubernetes/flux/config/cluster.yaml
Labels: area/kubernetes

Initial nas flux repo
  kubernetes/nas/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/nas/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/nas/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/nas/apps/cert-manager/cert-manager/issuers/letsencrypt-production.yaml
  kubernetes/nas/apps/cert-manager/cert-manager/issuers/letsencrypt-staging.yaml
  kubernetes/nas/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/nas/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/nas/apps/cert-manager/kustomization.yaml
  kubernetes/nas/apps/cert-manager/namespace.yaml
  kubernetes/nas/apps/default/kustomization.yaml
  kubernetes/nas/apps/default/minio/app/helmrelease.yaml
  kubernetes/nas/apps/default/minio/app/kustomization.yaml
  kubernetes/nas/apps/default/minio/app/secret.sops.yaml
  kubernetes/nas/apps/default/minio/ks.yaml
  kubernetes/nas/bootstrap/age-key.sops.yaml
  kubernetes/nas/bootstrap/github-deploy-key.sops.yaml
  kubernetes/nas/bootstrap/kustomization.yaml
  kubernetes/nas/flux/apps.yaml
  kubernetes/nas/flux/config/cluster.yaml
  kubernetes/nas/flux/config/flux.yaml
  kubernetes/nas/flux/config/kustomization.yaml
  kubernetes/nas/flux/repositories/git/kustomization.yaml
  kubernetes/nas/flux/repositories/git/local-path-provisioner.yaml
  kubernetes/nas/flux/repositories/helm/bitnami.yaml
  kubernetes/nas/flux/repositories/helm/bjw-s-charts.yaml
  kubernetes/nas/flux/repositories/helm/external-dns.yaml
  kubernetes/nas/flux/repositories/helm/helm-stable.yaml
  kubernetes/nas/flux/repositories/helm/intel.yaml
  kubernetes/nas/flux/repositories/helm/jetstack.yaml
  kubernetes/nas/flux/repositories/helm/k8tz.yaml
  kubernetes/nas/flux/repositories/helm/kustomization.yaml
  kubernetes/nas/flux/repositories/helm/prometheus-community-charts.yaml
  kubernetes/nas/flux/repositories/helm/stakater.yaml
  kubernetes/nas/flux/repositories/kustomization.yaml
  kubernetes/nas/flux/vars/cluster-secrets.sops.yaml
  kubernetes/nas/flux/vars/cluster-settings.yaml
  kubernetes/nas/flux/vars/kustomization.yaml
Labels: area/kubernetes

Add readme for nas cluster
  kubernetes/nas/Readme.md
Labels: area/kubernetes

update readme
  kubernetes/nas/Readme.md
Labels: area/kubernetes

Fix cluster settings
  kubernetes/nas/.envrc
  kubernetes/nas/flux/config/flux.yaml
  kubernetes/nas/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

Fix path
  kubernetes/nas/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/nas/apps/default/minio/ks.yaml
Labels: area/kubernetes

Fix ns
  kubernetes/nas/apps/default/minio/app/kustomization.yaml
Labels: area/kubernetes

Try pod securityContext
  kubernetes/nas/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes

Try defaultPodOptions
  kubernetes/nas/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes

Privileged?
  kubernetes/nas/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes

Try to fix mount path
  kubernetes/nas/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes

new try
  kubernetes/nas/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes

Update security context
  kubernetes/nas/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes

Expose locally
  kubernetes/nas/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes

Fix service
  kubernetes/nas/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-17
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(helm): update chart longhorn to 1.5.2
  kubernetes/apps/longhorn/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.3
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

Deploy reloader
  kubernetes/nas/apps/default/minio/app/helmrelease.yaml
  kubernetes/nas/apps/kube-system/kustomization.yaml
  kubernetes/nas/apps/kube-system/namespace.yaml
  kubernetes/nas/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/nas/apps/kube-system/reloader/app/kustomization.yaml
  kubernetes/nas/apps/kube-system/reloader/ks.yaml
Labels: area/kubernetes

Deploy node-exporter
  kubernetes/nas/apps/monitoring/kustomization.yaml
  kubernetes/nas/apps/monitoring/namespace.yaml
  kubernetes/nas/apps/monitoring/node-exporter/app/helmrelease.yaml
  kubernetes/nas/apps/monitoring/node-exporter/app/kustomization.yaml
  kubernetes/nas/apps/monitoring/node-exporter/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/kubernetes/servers/**/*"
  - "provision/storage/servers/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
