Repository elcattivo66/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/kubernetes/servers/**/*"
  - "provision/storage/servers/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

fix(container): update image docker.io/typesense/typesense to v0.25.1
  kubernetes/apps/default/immich/app/typesense/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.669
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(ansible): update community.general to 7.4.0
  provision/kubernetes/servers/requirements.yml
  provision/storage/servers/requirements.yml
Labels: area/ansible

feat(container): update image renovate/renovate to v36.92.1
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/recyclarr/recyclarr to v5.4.0
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.93.1
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to 4d0ce41
  kubernetes/apps/default/lldap/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr to v5.4.1
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.0.4
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart cert-manager to v1.13.0
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image kube-prometheus-stack to v51
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.9.2
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.93.3
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.93.5
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.78.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to 1e8718f
  kubernetes/apps/default/lldap/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.30
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/advplyr/audiobookshelf to v2.4.2
  kubernetes/apps/default/audiobookshelf/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.671
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.93.6
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to 408f776
  kubernetes/apps/default/lldap/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/plex to v1.32.6.7468-07e0d4a7e
  kubernetes/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to 1a4f7d0
  kubernetes/apps/default/lldap/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr to v5.4.2
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.93.7
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to 148180c
  kubernetes/apps/default/lldap/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.0.3
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image prometheus-node-exporter to v4.23.1
  kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update immich group to v1.78.1
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to a8f3a84
  kubernetes/apps/default/lldap/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.94.1
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(ansible): update community.sops to 1.6.6
  provision/kubernetes/servers/requirements.yml
  provision/storage/servers/requirements.yml
Labels: area/ansible

fix(container): update image renovate/renovate to v36.94.3
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.94.4
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/bazarr to v1.3.0
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

Update to 0.5.0
  kubernetes/apps/default/lldap/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-09-16t01-01-47z
  provision/storage/apps/app_minio.tf
Labels: none

fix(container): update image renovate/renovate to v36.94.5
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

chore(container): update image docker.io/prodrigestivill/postgres-backup-local to 4320120
  provision/storage/apps/cronjob_postgresbackup.tf
Labels: none

chore(container): update image docker.io/prodrigestivill/postgres-backup-local to 7adda49
  kubernetes/apps/databases/postgres-backup/app/cronjob.yaml
Labels: area/kubernetes
