Repository elcattivo66/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/kubernetes/servers/**/*"
  - "provision/storage/servers/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.10.0.4047
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/radarr-develop to v5.1.1.8195
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

Fix config
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

Fix config
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.5
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v37.31.2
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(helm)!: Update chart traefik to 25.0.0
  kubernetes/apps/networking/traefik/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v37.31.3
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.14.3
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

kubernetes/apps/networking/traefik/app/helmrelease.yaml aktualisiert
  kubernetes/apps/networking/traefik/app/helmrelease.yaml
Labels: area/kubernetes

Try without multus
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Add port for emulated_hue
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Back to multus
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Fix intendation
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Update to latest version
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

Use ghcr registry
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

Move renovate to default ns
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/renovate/app/configmap.yaml
  kubernetes/apps/default/renovate/app/cron-job.yaml
  kubernetes/apps/default/renovate/app/kustomization.yaml
  kubernetes/apps/default/renovate/app/secret.sops.yaml
  kubernetes/apps/default/renovate/ks.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
Labels: area/kubernetes

Fix namespace parameters
  kubernetes/apps/default/renovate/app/configmap.yaml
  kubernetes/apps/default/renovate/app/cron-job.yaml
  kubernetes/apps/default/renovate/app/secret.sops.yaml
Labels: area/kubernetes

Disable renovate
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Enable renovate in new ns
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Fix path
  kubernetes/apps/default/renovate/ks.yaml
Labels: area/kubernetes

Update to latest version
  kubernetes/apps/default/renovate/app/cron-job.yaml
Labels: area/kubernetes

Convert renovate to helmrelease
  kubernetes/apps/default/renovate/app/helmrelease.yaml
  kubernetes/apps/default/renovate/app/kustomization.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/renovate.yaml
Labels: area/kubernetes

Update secret
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
Labels: area/kubernetes

Use correct delimiter
  kubernetes/apps/networking/cloudflare-ddns/app/secret.sops.yaml
Labels: area/kubernetes

Update for renovate
  kubernetes/apps/default/renovate/app/secret.sops.yaml
  provision/storage/apps/app_gitea.tf
  provision/storage/apps/secret.sops.yaml
Labels: area/kubernetes

kubernetes/flux/config/cluster.yaml aktualisiert
  kubernetes/flux/config/cluster.yaml
Labels: area/kubernetes

kubernetes/flux/config/cluster.yaml aktualisiert
  kubernetes/flux/config/cluster.yaml
Labels: area/kubernetes

kubernetes/flux/config/cluster.yaml aktualisiert
  kubernetes/flux/config/cluster.yaml
Labels: area/kubernetes

Update webhook receiver
  kubernetes/apps/flux-system/addons/webhooks/ingress.yaml
  kubernetes/apps/flux-system/addons/webhooks/receiver.yaml
  kubernetes/apps/flux-system/addons/webhooks/secret.sops.yaml
Labels: area/kubernetes

Update for GH
  .github/renovate.json
Labels: area/github

Somre more renovate
  .github/renovate.json
  kubernetes/apps/default/kustomization.yaml
Labels: area/github, area/kubernetes

Add workflows
  .github/workflows/flux-diff.yaml
  .github/workflows/link-check.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

Add renovate workflow
  .github/renovate-bot.json5
  .github/renovate.json5
  .github/workflows/renovate.yaml
Labels: area/github

Update workflows
  .github/renovate-bot.json5
  .github/workflows/broken-link-check.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/link-check.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

Archive renovate
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/renovate/app/configmap.yaml
  kubernetes/apps/default/renovate/app/cron-job.yaml
  kubernetes/apps/default/renovate/app/helmrelease.yaml
  kubernetes/apps/default/renovate/app/kustomization.yaml
  kubernetes/apps/default/renovate/app/secret.sops.yaml
  kubernetes/apps/default/renovate/ks.yaml
Labels: area/kubernetes

Fix flux source in workflow
  .github/workflows/flux-diff.yaml
Labels: area/github

Update readme
  README.md
Labels: none

Update readme
  README.md
Labels: none

fix(github-release): update k3s-io/k3s to v1.28.3+k3s1
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
  provision/kubernetes/servers/inventory/group_vars/all/main.yaml
Labels: area/ansible, area/kubernetes
