Repository elcattivo66/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.9.4.4039
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.8.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-10-16t04-13-43z
  provision/storage/apps/app_minio.tf
Labels: none

feat(container): update image renovate/renovate to v37.22.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

Rebuild again :(
  kubernetes/apps/default/kustomization.yaml
  provision/kubernetes/servers/inventory/host_vars/morefine.sops.yml
  provision/kubernetes/servers/inventory/hosts.yaml
Labels: area/ansible, area/kubernetes

Restore from latest cluster
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

Enable auth apps
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Enable other apps
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Enable plex
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v37.23.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.9.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.82.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.700
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update flux group
  kubernetes/apps/databases/influxdb/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v37.24.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 4.3.5
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v37.26.1
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.61.0
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v37.26.4
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(helm): update chart gitea to 9.5.1
  provision/storage/apps/app_gitea.tf
Labels: none

feat(container): update image renovate/renovate to v37.27.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.9.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.17.0
  provision/kubernetes/cloudflare/.terraform.lock.hcl
  provision/kubernetes/cloudflare/main.tf
Labels: none

fix(helm): update chart reloader to 1.0.44
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v37.27.1
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update flux group
  kubernetes/apps/databases/influxdb/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.9.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

up version to 0.28.1-helm.0
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
Labels: area/kubernetes

Enable jf and update supplemental groups for gpu
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Up version
  kubernetes/apps/default/watchstate/app/helmrelease.yaml
Labels: area/kubernetes

Update supplemental groups for gpu
  kubernetes/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes

Add trakt-sync
  kubernetes/apps/default/plex/tools/kustomization.yaml
  kubernetes/apps/default/plex/tools/trakt-sync/config/config.yml
  kubernetes/apps/default/plex/tools/trakt-sync/helmrelease.yaml
  kubernetes/apps/default/plex/tools/trakt-sync/kustomization.yaml
  kubernetes/apps/default/plex/tools/trakt-sync/secret.sops.yaml
Labels: area/kubernetes

Increase mem limit
  kubernetes/apps/default/plex/tools/trakt-sync/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.9.4
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update immich group to v1.82.1
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.61.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image public.ecr.aws/docker/library/redis to v7.2.2
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.1.6
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.46
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart cloudnative-pg to 0.19.0
  kubernetes/apps/databases/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/kubernetes/servers/**/*"
  - "provision/storage/servers/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
