Repository elcattivo66/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/kubernetes/servers/**/*"
  - "provision/storage/servers/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

Update gitea version
  provision/storage/apps/app_gitea.tf
Labels: none

chore(container): update image ghcr.io/bjw-s/calibre-web to a7923b3
  kubernetes/apps/default/calibre-web/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/alpine to 7de9e00
  kubernetes/apps/kyverno/kyverno/policies/snapshot-cronjob.yaml
Labels: area/kubernetes

Update multus config
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/net-attach.yaml
Labels: area/kubernetes

Move multus config to app directory
  kubernetes/apps/default/home-assistant/app/kustomization.yaml
  kubernetes/apps/networking/multus/config/kustomization.yaml
  kubernetes/apps/networking/multus/config/net-attach-iot.yaml
  kubernetes/apps/networking/multus/ks.yaml
Labels: area/kubernetes

Fix namespace
  kubernetes/apps/networking/multus/config/net-attach-iot.yaml
Labels: area/kubernetes

Use default config
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

comment hostPaths
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

Set paths again
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

Set cni exclusive flag to false
  provision/kubernetes/servers/playbooks/templates/custom-cilium-helmchart.yaml.j2
Labels: area/ansible

Prepare next rebuild
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/metallb/app/helmrelease.yaml
  kubernetes/apps/networking/metallb/app/kustomization.yaml
  kubernetes/apps/networking/metallb/config/kustomization.yaml
  kubernetes/apps/networking/metallb/config/resources.yaml
  kubernetes/apps/networking/metallb/ks.yaml
Labels: area/kubernetes

Enable some apps again
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

enable influxdb
  kubernetes/apps/databases/kustomization.yaml
Labels: area/kubernetes

Activate remaining apps
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Disable multus for now
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/calibre-web to 8634734
  kubernetes/apps/default/calibre-web/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/alpine to def056c
  kubernetes/apps/kyverno/kyverno/policies/snapshot-cronjob.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/calibre-web to 05f36eb
  kubernetes/apps/default/calibre-web/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/alpine to dff22a9
  kubernetes/apps/kyverno/kyverno/policies/snapshot-cronjob.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/bazarr to 6f78c72
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/home-assistant to 13f3ccf
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/jellyfin to 041977c
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/lidarr-develop to 9247ceb
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/plex to 6f87b08
  kubernetes/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/prowlarr-develop to 76ae8bb
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/radarr-develop to a8b5205
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sabnzbd to a1bf102
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sonarr-develop to 9582714
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/tautulli to a1fb20c
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v1.4.5.3639
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.9.3.4013
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.0.3.8127
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.60.4
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image quay.io/minio/minio to release.2023-10-07t15-07-38z
  provision/storage/apps/app_minio.tf
Labels: none

feat(container): update image renovate/renovate to v37.8.1
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v37.10.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v37.11.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.1.3
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.695
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes
