Repository elcattivo66/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/kubernetes/servers/**/*"
  - "provision/storage/servers/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

feat(helm): update chart grafana to 6.60.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/jellyfin to v10.8.11
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v1.4.3.3586
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.106.2
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.9.1.3981
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.0.2.8103
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.107.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.9.3
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-09-23t03-47-50z
  provision/storage/apps/app_minio.tf
Labels: none

fix(container): update image renovate/renovate to v36.107.1
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

provision/storage/servers/playbooks/templates/smartd.conf.j2 aktualisiert
  provision/storage/servers/playbooks/templates/smartd.conf.j2
Labels: area/ansible

provision/storage/servers/playbooks/templates/smartd.conf.j2 aktualisiert
  provision/storage/servers/playbooks/templates/smartd.conf.j2
Labels: area/ansible

provision/storage/servers/playbooks/templates/smartd.conf.j2 aktualisiert
  provision/storage/servers/playbooks/templates/smartd.conf.j2
Labels: area/ansible

fix(container): update image renovate/renovate to v36.107.2
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container)!: Update image bitnami/postgresql to v16
  provision/storage/apps/app_postgres.tf
Labels: none

feat(container): update image ghcr.io/onedr0p/sabnzbd to v4.1.0
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.108.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(helm): update chart intel-device-plugins-gpu to 0.28.0
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart intel-device-plugins-operator to 0.28.0
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.109.1
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.109.2
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(helm): update chart cert-manager to v1.13.1
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.15.0
  provision/kubernetes/cloudflare/.terraform.lock.hcl
Labels: none

fix(container): update image renovate/renovate to v36.109.4
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/plex to v1.32.6.7557-1cf77d501
  kubernetes/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.686
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-09-27t15-22-50z
  provision/storage/apps/app_minio.tf
Labels: none

chore(container): update image ghcr.io/bjw-s/calibre-web to d897570
  kubernetes/apps/default/calibre-web/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/alpine to v3.18.4
  kubernetes/apps/kyverno/kyverno/policies/snapshot-cronjob.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.31
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image renovate/renovate to v37
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.1.1
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image quay.io/k8tz/k8tz to v0.14.0
  kubernetes/apps/kyverno/kyverno/policies/inject-tz.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-11
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/coder/code-server to v4.17.1
  kubernetes/apps/default/home-assistant/app/patches/addons.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-09-30t07-02-29z
  provision/storage/apps/app_minio.tf
Labels: none

fix(container): update image renovate/renovate to v37.1.4
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/advplyr/audiobookshelf to v2.4.4
  kubernetes/apps/default/audiobookshelf/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.688
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes
