Repository elcattivo66/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/kubernetes/servers/**/*"
  - "provision/storage/servers/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v1.3.5.3530
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.644
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.38
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.52.4
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v48.3.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.15.6
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.645
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/recyclarr/recyclarr to v5.3.1
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.53.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.54.2
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(helm): update chart gitea to 9.2.0
  provision/storage/apps/app_gitea.tf
Labels: none

fix(container): update image renovate/renovate to v36.54.3
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v48.3.3
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.56.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image eclipse-mosquitto to v2.0.17
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.56.3
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.646
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.57.2
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(helm): update chart nextcloud to 4.1.0
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.13.0
  provision/kubernetes/cloudflare/.terraform.lock.hcl
  provision/kubernetes/cloudflare/main.tf
Labels: none

fix(container): update image renovate/renovate to v36.57.3
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-08-23t10-07-06z
  provision/storage/apps/app_minio.tf
Labels: none

fix(container): update image renovate/renovate to v36.57.4
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(helm): update chart victoria-metrics-k8s-stack to 0.17.5
  kubernetes/apps/monitoring/victoriametrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.58.10
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.8.4
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v1.17.2
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.57.8
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(terraform): update terraform helm to 2.11.0
  provision/storage/apps/.terraform.lock.hcl
  provision/storage/apps/main.tf
Labels: none

fix(container): update image renovate/renovate to v36.57.10
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v48.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image redis to v17.16.0
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.57.11
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image kube-state-metrics to v5.11.0
  kubernetes/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update flux group
  kubernetes/apps/databases/influxdb/app/helmrelease.yaml
  kubernetes/bootstrap/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to f7f2a38
  kubernetes/apps/default/lldap/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image redis to v17.17.0
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.62.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(ansible): update community.sops to 1.6.5
  provision/kubernetes/servers/requirements.yml
  provision/storage/servers/requirements.yml
Labels: area/ansible

feat(container): update image ghcr.io/onedr0p/tautulli to v2.13.1
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes
