Repository elcattivo66/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/kubernetes/servers/**/*"
  - "provision/storage/servers/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

fix(container): update image weave-gitops to v4.0.28
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image eclipse-mosquitto to v2.0.16
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-4
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

feat(container): update image public.ecr.aws/docker/library/redis to v7.2.0
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.50.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-5
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.51.2
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.630
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image influxdb to v5.8.2
  kubernetes/apps/databases/influxdb/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.15.5
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.51.3
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

Try new value for updateStrategy
  kubernetes/apps/databases/influxdb/app/helmrelease.yaml
Labels: area/kubernetes

Update values for 9.x chart upgrade
  provision/storage/apps/app_gitea.tf
Labels: none

Archive smartctl-exporter
  provision/storage/apps/app_smartctl_exporter.tf
Labels: none

Cleanup and run as single node without redis
  provision/storage/apps/.terraform.lock.hcl
  provision/storage/apps/app_gitea.tf
Labels: none

revert to older version for migration
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

Back to newest version
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.8.3
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.52.1
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

Convert to helmrelease
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
  kubernetes/apps/default/recyclarr/app/cron-job.yaml
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
  kubernetes/apps/default/recyclarr/app/kustomization.yaml
  kubernetes/apps/default/recyclarr/app/secret.sops.yaml
  kubernetes/apps/default/recyclarr/ks.yaml
Labels: area/kubernetes

Update sonarr config
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

Use env_var for secrets
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.52.2
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.631
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

Set concurrency for recurring jobs
  kubernetes/apps/longhorn/longhorn/config/recurring-jobs.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.633
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.74.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

Add nfs readme
  provision/storage/Readme.md
Labels: none

Add additional nfs shares
  provision/storage/Readme.md
Labels: none

Update NFS path
  kubernetes/apps/default/audiobookshelf/app/helmrelease.yaml
Labels: area/kubernetes

Move ebooks dir to ssd pool
  kubernetes/apps/default/calibre-web/app/helmrelease.yaml
  provision/storage/Readme.md
  provision/storage/servers/playbooks/templates/backup_spool.sh.j2
Labels: area/ansible, area/kubernetes

feat(helm)!: Update chart nextcloud to 4.0.0
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.637
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.641
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image influxdb to v5.8.3
  kubernetes/apps/databases/influxdb/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.642
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.8.3.3880
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.37
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

Deploy multus, hope it works
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/multus/app/helmrelease.yaml
  kubernetes/apps/networking/multus/app/kustomization.yaml
  kubernetes/apps/networking/multus/ks.yaml
Labels: area/kubernetes

Add net-attach for multus
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/kustomization.yaml
  kubernetes/apps/default/home-assistant/app/net-attach.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes
