Repository elcattivo66/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/kubernetes/servers/**/*"
  - "provision/storage/servers/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

Fix path
  kubernetes/nas/apps/monitoring/node-exporter/ks.yaml
Labels: area/kubernetes

Deploy prometheus-operator-crds
  kubernetes/nas/apps/monitoring/kustomization.yaml
  kubernetes/nas/apps/monitoring/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/nas/apps/monitoring/prometheus-operator-crds/app/kustomization.yaml
  kubernetes/nas/apps/monitoring/prometheus-operator-crds/ks.yaml
Labels: area/kubernetes

Fix chart name
  kubernetes/nas/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/onedr0p/lidarr-develop to v2
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

Update renovate config
  .github/renovate.json5
Labels: area/github

fix(container): update image ghcr.io/kube-vip/kube-vip to v0.6.3
  provision/kubernetes/servers/playbooks/templates/kube-vip-static-pod.yaml.j2
Labels: area/ansible

fix(helm): update chart cloudnative-pg to 0.19.1
  kubernetes/apps/databases/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/openhab/openhab to v4.0.4
  kubernetes/apps/default/openhab/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-18
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update image public.ecr.aws/docker/library/redis to v7.2.3
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

Enable lidarr
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Set auth to external
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

Fix env variable for external auth
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
Labels: area/kubernetes
