Repository elcattivo66/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/kubernetes/servers/**/*"
  - "provision/storage/servers/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

fix(github-release): update k3s-io/k3s to v1.27.5+k3s1
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
  provision/kubernetes/servers/inventory/group_vars/all/main.yaml
Labels: area/ansible, area/kubernetes

fix(container): update image public.ecr.aws/docker/library/redis to v7.2.1
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.87.3
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.9.0
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.87.6
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image influxdb to v5.9.2
  kubernetes/apps/databases/influxdb/app/helmrelease.yaml
Labels: area/kubernetes

feat(ansible): update ansible.utils to 2.11.0
  provision/kubernetes/servers/requirements.yml
Labels: area/ansible

feat(container): update image kube-prometheus-stack to v50.3.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Add all endpoints
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-7
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.663
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image influxdb to v5.9.3
  kubernetes/apps/databases/influxdb/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image public.ecr.aws/docker/library/haproxy to v2.8.3
  kubernetes/apps/databases/redis/lb/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-09-07t02-05-02z
  provision/storage/apps/app_minio.tf
Labels: none

fix(container): update image renovate/renovate to v36.87.7
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/calibre-web to 94d6ce5
  kubernetes/apps/default/calibre-web/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.664
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-dns to 1.13.1
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.59.4
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.88.1
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image kube-state-metrics to v5.13.0
  kubernetes/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update prometheus-operator/prometheus-operator to v0.68.0
  provision/kubernetes/servers/inventory/group_vars/all/main.yaml
Labels: area/ansible

feat(helm): update chart gitea to 9.4.0
  provision/storage/apps/app_gitea.tf
Labels: none

feat(helm): update chart nextcloud to 4.3.0
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart node-feature-discovery to 0.14.0
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.665
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 4.3.1
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-8
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.9.1
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/advplyr/audiobookshelf to v2.4.0
  kubernetes/apps/default/audiobookshelf/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.89.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image docker.io/openhab/openhab to v4.0.3
  kubernetes/apps/default/openhab/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/advplyr/audiobookshelf to v2.4.1
  kubernetes/apps/default/audiobookshelf/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v1.4.2.3576
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.91.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to 1686c11
  kubernetes/apps/default/lldap/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.8.6.3946
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to 708ba4d
  kubernetes/apps/default/lldap/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to afe9188
  kubernetes/apps/default/lldap/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lldap/lldap to 3ec6348
  kubernetes/apps/default/lldap/app/helmrelease.yaml
Labels: area/kubernetes
