Repository elcattivo66/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/kubernetes/servers/**/*"
  - "provision/storage/servers/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

fix(helm): update chart victoria-metrics-k8s-stack to 0.17.4
  kubernetes/apps/monitoring/victoriametrics/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image quay.io/prometheuscommunity/smartctl-exporter to v0.10.0
  provision/storage/apps/app_smartctl_exporter.tf
Labels: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.616
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-3
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.617
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v4.7.4.7758
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.620
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

Enable PG for sonarr
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/kustomization.yaml
  kubernetes/apps/default/sonarr/app/secret.sops.yaml
Labels: area/kubernetes

Enable PG for sonarr
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

Forgot secret variable reference
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.8.2.3860
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.42.4
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.621
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v4.7.5.7809
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.625
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/vabene1111/recipes to v1.5.5
  kubernetes/apps/default/tandoor/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.5.22
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.43.2
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

Convert to deployment
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

Add delete snapshot recurringjob
  kubernetes/apps/longhorn/longhorn/config/recurring-jobs.yaml
Labels: area/kubernetes

Fix cronjobs
  kubernetes/apps/longhorn/longhorn/config/recurring-jobs.yaml
Labels: area/kubernetes

Retention policy should be a string
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/postgres-init to v14.9
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/lidarr/app/helmrelease.yaml
  kubernetes/apps/default/lldap/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/tandoor/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.44.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(ansible): update community.general to 7.3.0
  provision/kubernetes/servers/requirements.yml
  provision/storage/servers/requirements.yml
Labels: area/ansible

Add retain value
  kubernetes/apps/longhorn/longhorn/config/recurring-jobs.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/paperless-ngx/paperless-ngx to v1.17.1
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.58.9
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.45.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.15.4
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.73.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/typesense/typesense to v0.25.0
  kubernetes/apps/default/immich/app/typesense/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.46.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/calibre-web to adafa63
  kubernetes/apps/default/calibre-web/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/openhab/openhab to v4.0.2
  kubernetes/apps/default/openhab/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.629
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.48.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.49.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(terraform): update terraform kubernetes to 2.23.0
  provision/storage/apps/.terraform.lock.hcl
  provision/storage/apps/main.tf
Labels: none

fix(container): update image quay.io/minio/minio to release.2023-08-16t20-17-30z
  provision/storage/apps/app_minio.tf
Labels: none
