Repository elcattivo66/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/kubernetes/servers/**/*"
  - "provision/storage/servers/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml aktualisiert
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

Update to template v2
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

Fix ingress
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

Housekeeping
  kubernetes/apps/databases/redis/ks.yaml
  kubernetes/apps/databases/redis/lb/config/haproxy.cfg
  kubernetes/apps/databases/redis/lb/helmrelease.yaml
  kubernetes/apps/databases/redis/lb/kustomization.yaml
  kubernetes/apps/databases/redis/lb/patches/kustomizeconfig.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/plexstate/app/helmrelease.yaml
  kubernetes/apps/default/plexstate/app/kustomization.yaml
  kubernetes/apps/default/plexstate/ks.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v37.28.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/calibre-web to 5bd1c1c
  kubernetes/apps/default/calibre-web/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v37.28.1
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr to v6.0.2
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v37.29.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.10.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Renovate grafana dashboards
  .github/renovate.json
  .github/renovate/commitMessage.json5
  .github/renovate/customDatasources.json5
  .github/renovate/customManagers.json5
  .github/renovate/labels.json5
  .github/renovate/packageRules.json5
  .github/renovate/semanticCommits.json5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/github, area/kubernetes

fix(helm): update chart cilium to 1.14.3
  provision/kubernetes/servers/playbooks/templates/custom-cilium-helmchart.yaml.j2
Labels: area/ansible

feat(container): update image ghcr.io/coder/code-server to v4.18.0
  kubernetes/apps/default/home-assistant/app/patches/addons.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v37.31.1
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(helm): update chart coredns to 1.27.1
  provision/kubernetes/servers/playbooks/templates/custom-coredns-helmchart.yaml.j2
Labels: area/ansible

chore(grafana-dashboards): update dashboard redis dashboard for prometheus redis exporter 1.x to revision 5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

Enable metrics for redis
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

Update to template v2
  kubernetes/apps/default/audiobookshelf/app/helmrelease.yaml
Labels: area/kubernetes

Fix intendation
  kubernetes/apps/default/audiobookshelf/app/helmrelease.yaml
Labels: area/kubernetes

Fix typo
  kubernetes/apps/default/audiobookshelf/app/helmrelease.yaml
Labels: area/kubernetes

Update cf-ddns to template v2
  kubernetes/apps/networking/cloudflare-ddns/app/helmrelease.yaml
Labels: area/kubernetes

Add coredns as helmrelease
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/coredns/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

Add coredns helmrepo
  kubernetes/flux/repositories/helm/coredns.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Fix clusterip in coredns
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes

Set replicacount to 2
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.4
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Add cilium as HR
  kubernetes/apps/kube-system/cilium/app/cilium-l2.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmvalues.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/flux/repositories/helm/cilium.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

Add flux substitution to ks
  kubernetes/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

Try static ip with multus
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/kustomization.yaml
  kubernetes/apps/default/home-assistant/app/net-attach.yaml
Labels: area/kubernetes

Fix interface naem
  kubernetes/apps/default/home-assistant/app/net-attach.yaml
Labels: area/kubernetes

Update multus config
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/kustomization.yaml
  kubernetes/apps/default/home-assistant/app/net-attach.yaml
  kubernetes/apps/networking/multus/config/net-attach-iot.yaml
Labels: area/kubernetes

Up multus conf
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/networking/multus/config/hass-iot-static.yaml
  kubernetes/apps/networking/multus/config/kustomization.yaml
  kubernetes/apps/networking/multus/config/net-attach-iot.yaml
Labels: area/kubernetes

Fix format
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
Labels: area/kubernetes

Fix values
  kubernetes/apps/networking/multus/config/hass-iot-static.yaml
Labels: area/kubernetes

new format
  kubernetes/apps/networking/multus/config/hass-iot-static.yaml
Labels: area/kubernetes

fix?
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/networking/multus/config/hass-iot-static.yaml
Labels: area/kubernetes

Disable unused helmrepos
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Disable unused config
  kubernetes/apps/networking/multus/config/kustomization.yaml
Labels: area/kubernetes

Increase mem limit
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

Fix external service
  kubernetes/apps/databases/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes
