Repository elcattivo66/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/kubernetes/servers/**/*"
  - "provision/storage/servers/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"

feat(container): update image renovate/renovate to v36.96.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(terraform)!: Update Terraform sops to 1.0.0
  provision/kubernetes/cloudflare/.terraform.lock.hcl
  provision/kubernetes/cloudflare/main.tf
  provision/storage/apps/.terraform.lock.hcl
  provision/storage/apps/main.tf
Labels: none

fix(container): update image ghcr.io/recyclarr/recyclarr to v5.4.3
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/gotify/server to v2.4.0
  kubernetes/apps/default/gotify/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.96.3
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.9.0.3966
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/advplyr/audiobookshelf to v2.4.3
  kubernetes/apps/default/audiobookshelf/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.676
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.96.5
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.96.8
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image eclipse-mosquitto to v2.0.18
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image nextcloud to v27.1.0
  kubernetes/apps/default/nextcloud/app/cronjob.yaml
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.682
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.97.1
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(github-release): update flux group to v2.1.1
  kubernetes/bootstrap/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v36.97.3
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.15.0
  provision/kubernetes/cloudflare/main.tf
Labels: none

fix(helm): update chart reloader to 1.0.41
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/meisnate12/plex-meta-manager to v1.19.1
  kubernetes/apps/default/plex-meta-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.14.1
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.99.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-9
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-09-20t22-49-55z
  provision/storage/apps/app_minio.tf
Labels: none

fix(container): update image thecodingmachine/gotenberg to v7.9.2
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.100.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.79.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update k3s-io/k3s to v1.28.2+k3s1
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
  provision/kubernetes/servers/inventory/group_vars/all/main.yaml
Labels: area/ansible, area/kubernetes

feat(container): update image renovate/renovate to v36.102.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-10
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update image nextcloud to v27.1.1
  kubernetes/apps/default/nextcloud/app/cronjob.yaml
  kubernetes/apps/default/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update immich group to v1.79.1
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.1.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.59.5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.103.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/calibre-web to a5a40ae
  kubernetes/apps/default/calibre-web/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image redis to v18.1.0
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/coder/code-server to v4.17.0
  kubernetes/apps/default/home-assistant/app/patches/addons.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.105.0
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v36.106.1
  kubernetes/apps/system-upgrade/renovate/app/cron-job.yaml
Labels: area/kubernetes
